body {
  font-family: "Courier New"
}

p {
  margin: 0;
}

.stage-direction {
  margin-top: 10px;
  font-size: .9em;
}

.character {
  font-weight: bold;
  font-size: 1em;
}

.parenthetical {
  font-style: italic;
}

.dialog-line {
  font-size: 1em;
}

#line {
  display: none;
}

#line.revealed {
  display: flex;
}

textarea {
  height: 80%;
}

.pct-element {
  background: none;
  color: black;
  font-size: 0.9em;
}

#character-selector input, label {
  margin-bottom: 10px;
  font-size: 1.5em;
}

#action-section {
  margin-top: 10px;
}

.dialog {
  overflow-y: auto;
}

#file-intro {
  display: none;
}

#file-intro.showing {
  display: block;
}

#cuer {
  display: none;
}

#cuer.showing {
  display: block;
}

#character-selector {
  display: none;
}

#character-selector.showing {
  display: block;
}

button {
  display: none;
}

button.showing {
  display: inline-block;
}

#line {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dia-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#cues {
  background: lightblue;
  /* height: 100%; */
  box-sizing: border-box;
  display: none;
  overflow-y: auto;
}

#cues.showing {
  display: flex;
}

#line {
  background: lightgreen;
  box-sizing: border-box;
  /* height: 100%; */
}

body {
  text-align: center;
}

#cuer {
  width: 500px;
  max-width: 95%;
  margin: 0 auto;
}

.topish {
  height: 70vh;
  overflow-y: auto;
}

#top-box {
  max-height: 25vh;
  overflow-y: auto;
}

#middle-section {
  max-height: 20vh;
}

#bottom-box {
  min-height: 20vh;
}

#action-section {
  height: 30vh;
}

#line .dialog-line span {
  opacity: 0;
}

#line .dialog-line span.revealed {
  opacity: 1;
}

.diff-result {
  overflow-y: auto;
  max-height: 18vh;
  margin-top: 10px;
}

.diff-result span {
  color: green;
  background-color: #e0ffe0;
}

.diff-result span.added {
  color: red;
  background-color: #ffe0e0;
  text-decoration: line-through;
}

.diff-result span.removed {
  color: blue;
  background-color: #e0e0ff;
  font-style: italic;
}

button {
    background: black;
    color: white;
    border: 1px solid gray;
    font-size: 1.2em;
    height: 50px;
    margin: 1px;
    box-sizing: border-box;

}

#bottom-bottom {
  margin-top: 10vh;
}

#bottom-bottom button {
    width: 100%;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#top-action {
  display: flex;
  justify-content: center;
  gap: 2px;
}

#top-action button {
  flex: 1;
  height: 59px;
}

#btm-action {
  margin-top: 2px;
  display: flex;
  justify-content: space-around;
}

#btm-action button {
  flex: 1;
  background: lightgray;
  color: black;
  height: 30px;
  
}
